<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>BenchGAD</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index">
        <div class="sidebar-brand-icon">
          <img src="https://lh3.googleusercontent.com/M7PTgP0hgt-0KHX-2rQubeVyMvrfPAKmxeBWVs1eoaR35ZkvATAbjbyBAuzU0aRQbjDOlvnAhgAoemO8=w200-h220-rw" weight="45" height="45">
        </div>
        <div class="sidebar-brand-text mx-3">BenchGAD</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Test option -->
      <li class="nav-item active">
        <a class="nav-link" href="/index">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Test Options</span>
        </a>
        <a class="nav-link 2" href="/result">
          <i class="fa fa-tasks"></i>
          <span>Results</span>
        </a>
        <a class="nav-link 3" href="/people">
          <i class="fa fa-user-graduate"></i>
          <span>People</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
              aria-labelledby="searchDropdown">
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                    aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Test Options</h1>
            <a href="#" onclick="return false" id="generateReportButton" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
              <i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>

            <!-- generate report button function-->
            <script type="text/javascript">
              var stringJson;

              document.getElementById("generateReportButton").addEventListener("click", function generate_report_button_click() {
                var dbmsSelectOptionTarget = document.getElementsByName("DBMS");
                var getCheckedDbms = Array();

                for (var i = 0; dbmsSelectOptionTarget[i]; ++i) {
                  if (dbmsSelectOptionTarget[i].checked == true) {
                    getCheckedDbms.push(dbmsSelectOptionTarget[i].value);
                  }
                }

                //make JSON object
                var jsObject = [
                  {
                    "Workload": workloadSelectOptionTarget.options[workloadSelectOptionTarget.selectedIndex].text,
                    "ScaleFactor": scaleSelectOptionTarget.value,
                    "CpuMemory": cpuSelectOptionTarget.value,
                    "GpuMemory": gpuSelectOptionTarget.value,
                    "Dimension": dimensionSelectOptionTarget.value,
                    "DBMS": getCheckedDbms,
                    "Query": querySelected.options[querySelected.selectedIndex].text
                  }
                ]

                //for checking null content existence
                var generateTry = 0;
                var generateCheck;

                for (jsElemKey in jsObject[0]) {
                  generateTry = 1;
                  var checkingValue = jsObject[0][jsElemKey];

                  if (!checkingValue || checkingValue == '' || checkingValue == "USER CONFIG" || checkingValue == "--Select DBMS--") {
                    generateCheck = jsElemKey;
                    generateTry = 0;

                    break;
                  }
                }

                if (generateTry) {
                  console.log('post start');

                  // 입력값을 변수에 담고 문자열 형태로 변환
                  stringJson = JSON.stringify(jsObject);
                  console.log(jsObject);
                  console.log(stringJson);
                  
                  //send options
                  $.ajax({
                    url: '/postTest',
                    async: true,
                    type: 'POST',
                    data: {
                      data: stringJson
                    },
                    success: function (data) {
                      console.log("success!");
                      console.log(data);
                    },
                    error: function (request, status, err) {
                      console.log("error!");
                      console.log(err);
                    }
                  });

                  alert("Now Test is in queue...");
                }
                else
                  alert(`Check the ${generateCheck} options.\n`);
              }, false);
            </script>
          </div>

          <!-- Content Row -->
          <div class="row">
            <!-- Workload Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <!-- select menu -->

                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">WORKLOAD</div>
                      <select id="workloadOption" class="form-control-sm">
                        <option>USER CONFIG</option>
                        <option>TPC-C</option>
                        <option>TPC-H</option>
                      </select>

                      <!--Workload variable-->
                      <script type="text/javascript">
                        var workloadSelectOptionTarget = document.getElementById("workloadOption");
                      </script>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Scale Factor Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Scale Factor(GB)</div>
                      <div class="form-group">
                        <form name="form">
                          <select id=scaleFactorSelected class="form-control-sm" name="queries">
                            <option>USER CONFIG</option>
                            <option>2</option>
                            <option>4</option>
                            <option>8</option>
                          </select>
                        </form>
                        <script type="text/javascript">
                          var scaleSelectOptionTarget = document.getElementById("scaleFactorSelected");
                        </script>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- CPU Memory Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">CPU Memory</div>
                      <div class="row no-gutters align-items-center">
                        <div class="form-group">
                          <input type="number" class="form-control" id="cpuMemoryOption" placeholder="MB">
                          <!--CPU Memory variable-->
                          <script type="text/javascript">
                            var cpuSelectOptionTarget = document.getElementById("cpuMemoryOption");
                          </script>
                        </div>
                        <div class="col">
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- GPU MEMORY Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">GPU Memory</div>
                      <div class="form-group">
                        <input type="number" class="form-control" id="gpuMemoryOption" placeholder="MB">

                        <!--GPU Memory variable-->
                        <script type="text/javascript">
                          var gpuSelectOptionTarget = document.getElementById("gpuMemoryOption");
                        </script>
                      </div>
                      <!--div class="h5 mb-0 font-weight-bold text-gray-800">18</div -->
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Dimension Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <!-- select menu -->

                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Dimension</div>
                      <div class="form-group">
                        <input type="number" class="form-control" id="dimensionMemoryOption" placeholder="Dimension">

                        <!--Dimension variable-->
                        <script>
                          var dimensionSelectOptionTarget = document.getElementById("dimensionMemoryOption");
                        </script>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- DBMS Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">DBMS</div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <div class="form-group row">
                            <div class="col-sm-10">
                              <form name="form1">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="postgreSQL" name="DBMS"
                                    id="checkbox1" onchange="DbmsSelected(this)" />
                                  <label class="form-check-label" for="gridCheck1">postgreSQL
                                  </label>
                                  </br>
                                  <input class="form-check-input" type="checkbox" value="MapD" name="DBMS"
                                    id="checkbox2" onchange="DbmsSelected(this)" />
                                  <label class="form-check-label" for="gridCheck1">MapD
                                  </label>
                                  </br>
                                  <input class="form-check-input" type="checkbox" value="AresDB" name="DBMS"
                                    id="checkbox3" onchange="DbmsSelected(this)">
                                  <label class="form-check-label" for="gridCheck1">AresDB
                                  </label>
                                  </br>
                                  <input class="form-check-input" type="checkbox" value="Alenka" name="DBMS"
                                  id="checkbox3" onchange="DbmsSelected(this)">
                                  <label class="form-check-label" for="gridCheck1">Alenka
                                  </label>
                                  </br>

                                  <!--DBMS variable-->
                                  <script type="text/javascript">
                                    dbms = document.getElementsByName("DBMS");
                                  </script>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Query Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Query</div>
                      <div class="row no-gutters align-items-center">
                        <div class="form-group">
                          <form name="form">
                            <select id=querySelected class="form-control-sm" name="queries">
                              <option>--Select DBMS--</option>
                              <option>#1</option>
                              <option>#2</option>
                              <option>#3</option>
                              <option>#4</option>
                              <option>#5</option>
                            </select>
                            <script type="text/javascript">
                              var querySelected = document.getElementById("querySelected");
                            </script>
                        </div>
                        <div class="col">
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

          <div class="row">
            <div class="col-lg-6 mb-4">
            </div>
          </div>
          <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
          <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="js/demo/chart-area-demo.js"></script>
        <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>