<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>BenchGAD</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index">
        <div class="sidebar-brand-icon">
          <img
            src="https://lh3.googleusercontent.com/M7PTgP0hgt-0KHX-2rQubeVyMvrfPAKmxeBWVs1eoaR35ZkvATAbjbyBAuzU0aRQbjDOlvnAhgAoemO8=w200-h220-rw"
            weight="45" height="45">
        </div>
        <div class="sidebar-brand-text mx-3">BenchGAD</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Test option -->
      <li class="nav-item active">
        <a class="nav-link" href="/index">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Test Options</span>
        </a>
        <a class="nav-link 2" href="/result">
          <i class="fa fa-tasks"></i>
          <span>Results</span>
        </a>
        <a class="nav-link 3" href="/people">
          <i class="fa fa-user-graduate"></i>
          <span>People</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
              aria-labelledby="searchDropdown">
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                    aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">People</h1>
            <a href="#" onclick="return false" id="generateReportButton"
              class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
              <i class="fas fa-download fa-sm text-white-50"></i> Button</a>
          </div>

          <!-- Content Row -->

          <style>
            #dk-title {
              width: 940px;
              padding: 5px auto;
              float: left;
              margin-bottom: -5px;
              padding-left: 16px;
              color: darkcyan;
            }

            #jb-container {
              width: 2200px;
              margin: 0px auto;
              padding: 20px;
              border: 0px solid #bcbcbc;
              float: left;
              text-align: left;
            }
            
            #jb-contentL {
              width: 200px;
              padding: 20px;
              margin-bottom: 10px;
              float: left;
              border: 0px solid #bcbcbc;
            }

            #jb-contentM {
              width: 650px;
              padding: 20px;
              margin-bottom: 10px;
              float: left;
              border: 0px solid #bcbcbc;
            }

            #jb-contentR {
              width: 700px;
              padding: 20px;
              margin-bottom: 10px;
              float: left;
              border: 0px solid #bcbcbc;
            }
          </style>

          <div id=dk-title>
            <h2><b>Director</b></h2>
          </div>
          <div id=jb-container>          
            <div id="jb-contentL">
            <img
              src="https://lh3.googleusercontent.com/XPfCj6Gc1OwQO_qmA4d8MJclLz8R3NI-O5xgfhiQDGXMwqPUhwLpAlin5tn_KYIHL1Zx7SioAf47O4Wu-v24TeJ-hbD1-M2cQOeD0XgF9OKzMGYP-4pzYL9IQHEB3l1Z4eCmuygfW_VWufXni-TWfahrmWJrK1f5_ay2hTKr3G0X5GzS4XByGUN624cVSIljnH9-hTCR-l09ss6Hp1Twh1o1DwBGobcSTJjxLITNNcZMDjeOQ-oI8ZpaC87yyTX-AlUJ9CypYzZwmuXQkRx-tGpoWAn4TmF7yirdvV4KfubskfvHsfpsOvXXOfvWg3Ytp2Pmt0i-zdbmLHl7FZzyXvOOrtMuX8bAYY70tG5YrCyj-MdXOyxeV97GiyYL2knjtkb9yAnVD4DT2VJzwBI7MQcOzYw-w5uiFSVJxO9Jfr-fzkwJJX6V2SttGTRocFSEBysamYzi3Ro_zNm0lQ_12Y1FwMMwE0rVNWhzP9KYFq1p8mjNHad45fO0aYeNBYMPVs10-iV7u_5WGvsjtwMdUgcQ3QKoTvnsQIfe-PRpdtIKnOMatNq-hZWuOOk0ey8Ks6YWnTH4ZtnFL2JgdBMaItaE8iNFXNnPEbCgZ8WGgKW1HsP8GXaaFt-37TKiZBHiyBGLAR4lK5OVQLOu4-o2v5Z83SSyz8_ka6qTCzZXgCPkdur_OSRQ=w271-h373-no"
              weight="160" height="200"></img>
            </div>
            <div id="jb-contentM">
              <h3>Young-Kyoon Suh, Ph.D.</h3>
              <b>- Brief History - </b>
              <p>
                <br>
                * Assistant Professor of Kyungpook National University<br>
                * B.S. / M.S. / Ph.D. in Computer Science<br>
                * (Past) KISTI Specialized Research Staff<br>
                * Director of Data & Knowledge Engineering Laboratory<br>
              </p>
            </div>
            <div id="jb-contentR">
              <h4>Contact</h4>
              <p>
                <br>
                # Address: Daegu, Republic of Korea 41566<br>
                # Phone: +82-53-950-6372<br>
                # Email: yksuh at knu.ac.kr<br>
                <a href="https://sites.google.com/view/dkelab/people">DKE Lab Homepage</a>
                 <br>
              </p>
            </div>
          </div>
          <br><br>
          <div id=dk-title>
              <h2><b>WebPage Producer</b></h2>
          </div>
          <div id=jb-container>
            <div id="jb-contentL">
              <img
                src="https://lh3.googleusercontent.com/XPfCj6Gc1OwQO_qmA4d8MJclLz8R3NI-O5xgfhiQDGXMwqPUhwLpAlin5tn_KYIHL1Zx7SioAf47O4Wu-v24TeJ-hbD1-M2cQOeD0XgF9OKzMGYP-4pzYL9IQHEB3l1Z4eCmuygfW_VWufXni-TWfahrmWJrK1f5_ay2hTKr3G0X5GzS4XByGUN624cVSIljnH9-hTCR-l09ss6Hp1Twh1o1DwBGobcSTJjxLITNNcZMDjeOQ-oI8ZpaC87yyTX-AlUJ9CypYzZwmuXQkRx-tGpoWAn4TmF7yirdvV4KfubskfvHsfpsOvXXOfvWg3Ytp2Pmt0i-zdbmLHl7FZzyXvOOrtMuX8bAYY70tG5YrCyj-MdXOyxeV97GiyYL2knjtkb9yAnVD4DT2VJzwBI7MQcOzYw-w5uiFSVJxO9Jfr-fzkwJJX6V2SttGTRocFSEBysamYzi3Ro_zNm0lQ_12Y1FwMMwE0rVNWhzP9KYFq1p8mjNHad45fO0aYeNBYMPVs10-iV7u_5WGvsjtwMdUgcQ3QKoTvnsQIfe-PRpdtIKnOMatNq-hZWuOOk0ey8Ks6YWnTH4ZtnFL2JgdBMaItaE8iNFXNnPEbCgZ8WGgKW1HsP8GXaaFt-37TKiZBHiyBGLAR4lK5OVQLOu4-o2v5Z83SSyz8_ka6qTCzZXgCPkdur_OSRQ=w271-h373-no"
                weight="160" height="200"></img>
              </div>
              <div id="jb-contentM">
                <h3>In-Jun Choi, Undergraduate Research Intern</h3>
                <b>- Brief History - </b>
                <p>
                  <br>

                </p>
              </div>
              <div id="jb-contentR">
                <h4>Contact</h4>
                <p>
                  <br>

                   <br>
                </p>
              </div>
            </div>
            <br><br>
          <div id=dk-title>
              <h2><b>Technical Senior</b></h2>
          </div>
          <div id=jb-container>
            <div id="jb-contentL">
              <img
                src="https://lh3.googleusercontent.com/XPfCj6Gc1OwQO_qmA4d8MJclLz8R3NI-O5xgfhiQDGXMwqPUhwLpAlin5tn_KYIHL1Zx7SioAf47O4Wu-v24TeJ-hbD1-M2cQOeD0XgF9OKzMGYP-4pzYL9IQHEB3l1Z4eCmuygfW_VWufXni-TWfahrmWJrK1f5_ay2hTKr3G0X5GzS4XByGUN624cVSIljnH9-hTCR-l09ss6Hp1Twh1o1DwBGobcSTJjxLITNNcZMDjeOQ-oI8ZpaC87yyTX-AlUJ9CypYzZwmuXQkRx-tGpoWAn4TmF7yirdvV4KfubskfvHsfpsOvXXOfvWg3Ytp2Pmt0i-zdbmLHl7FZzyXvOOrtMuX8bAYY70tG5YrCyj-MdXOyxeV97GiyYL2knjtkb9yAnVD4DT2VJzwBI7MQcOzYw-w5uiFSVJxO9Jfr-fzkwJJX6V2SttGTRocFSEBysamYzi3Ro_zNm0lQ_12Y1FwMMwE0rVNWhzP9KYFq1p8mjNHad45fO0aYeNBYMPVs10-iV7u_5WGvsjtwMdUgcQ3QKoTvnsQIfe-PRpdtIKnOMatNq-hZWuOOk0ey8Ks6YWnTH4ZtnFL2JgdBMaItaE8iNFXNnPEbCgZ8WGgKW1HsP8GXaaFt-37TKiZBHiyBGLAR4lK5OVQLOu4-o2v5Z83SSyz8_ka6qTCzZXgCPkdur_OSRQ=w271-h373-no"
                weight="160" height="200"></img>
              </div>
              <div id="jb-contentM">
                <h3>Joo-Young Lee, M.S.</h3>
                <b>- Brief History - </b>
                <p>
                  <br>

                </p>
              </div>
              <div id="jb-contentR">
                <h4>Contact</h4>
                <p>
                  <br>

                   <br>
                </p>
              </div>
            </div>
            <div id=jb-container>
              <div id="jb-contentL">
                <img
                  src="https://lh3.googleusercontent.com/XPfCj6Gc1OwQO_qmA4d8MJclLz8R3NI-O5xgfhiQDGXMwqPUhwLpAlin5tn_KYIHL1Zx7SioAf47O4Wu-v24TeJ-hbD1-M2cQOeD0XgF9OKzMGYP-4pzYL9IQHEB3l1Z4eCmuygfW_VWufXni-TWfahrmWJrK1f5_ay2hTKr3G0X5GzS4XByGUN624cVSIljnH9-hTCR-l09ss6Hp1Twh1o1DwBGobcSTJjxLITNNcZMDjeOQ-oI8ZpaC87yyTX-AlUJ9CypYzZwmuXQkRx-tGpoWAn4TmF7yirdvV4KfubskfvHsfpsOvXXOfvWg3Ytp2Pmt0i-zdbmLHl7FZzyXvOOrtMuX8bAYY70tG5YrCyj-MdXOyxeV97GiyYL2knjtkb9yAnVD4DT2VJzwBI7MQcOzYw-w5uiFSVJxO9Jfr-fzkwJJX6V2SttGTRocFSEBysamYzi3Ro_zNm0lQ_12Y1FwMMwE0rVNWhzP9KYFq1p8mjNHad45fO0aYeNBYMPVs10-iV7u_5WGvsjtwMdUgcQ3QKoTvnsQIfe-PRpdtIKnOMatNq-hZWuOOk0ey8Ks6YWnTH4ZtnFL2JgdBMaItaE8iNFXNnPEbCgZ8WGgKW1HsP8GXaaFt-37TKiZBHiyBGLAR4lK5OVQLOu4-o2v5Z83SSyz8_ka6qTCzZXgCPkdur_OSRQ=w271-h373-no"
                  weight="160" height="200"></img>
                </div>
                <div id="jb-contentM">
                  <h3>Seoung-Hyun Kim, M.S.</h3>
                  <b>- Brief History - </b>
                  <p>
                    <br>

                  </p>
                </div>
                <div id="jb-contentR">
                  <h4>Contact</h4>
                  <p>
                    <br>
 
                     <br>
                  </p>
                </div>
              </div>
          <!-- Content Row -->

          <div class="row">
            <div class="col-lg-6 mb-4">
            </div>
          </div>
          <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
          <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="js/demo/chart-area-demo.js"></script>
        <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>